<div class="mt-5 text-center card card-body">
    <i class="mb-3 fas fa-dizzy fa-5x"></i>
    <h1>404 - THE PAGE CAN'T BE FOUND</h1>
    <hr>
    <a class="btn btn-primary m-auto" href="/dashboard">GO TO DASHBOARD</a>
</div>